/* Main body with background */
body {
    background: url(img/psychedelic_img.jpg) repeat 0 0;
    overflow-y: hidden !important;
}

/* GIFs */
#runningGIF {
    position: fixed;
    top: 25px;
    left: 275px;
    width: 200px;
}
#clockGIF {
    position: fixed;
    bottom: 15px;
    right: 270px;
    height: 170px;
}
#dogGIF {
    position: fixed;
    top: 5px;
    right: 500px;
    width: 100px;
}
#nyanGIF {
    position: fixed;
    top: 30px;
    left: 500px;
    width: 100px;
}
#welcomeGIF {
    position: fixed;
    top: 30px;
    left: 600px;
    min-height: 100px;
}
#adBanner {
    z-index: 100;
    min-height: 500px;
    background: url(img/ad.gif) repeat 0 0;
    background-size: cover;
}

/* Containers */
#bsContainer {
    position: absolute;
    z-index: -1;
}
#midContainer {
    background-color: red;
    opacity: 90%;
}
#listGroupContainer {
    top: 200px;
}
#surveyContainer {
    background-color: white;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid green;
    max-width: 550px;
}

/* Text */
#memeText {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}
#leftBottomText {
    position: fixed;
    bottom: 5px;
    left: 275px;
    width: 200px;
}
#midBottomText {
    position:fixed;
    bottom: 5px;
    left: 500px;
    max-width: 450px;
}